*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
header{

    height: 100vh;
    width: 100%;
    
    background-image:url(/images/png_20230227_061445_0000.png)  ;
    background-size: cover;
    background-position:top;
    background-color: aqua;
    box-shadow: rgba(0, 0, 0, 0.308) 0px 0px 60px 40px inset;
    
 
    
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
  margin: 0 auto;
  
align-items: center;


  padding: 2rem 3rem;
  
  
}
.navbar li::after {
    content: "";
    width: 0%;
    height: 1px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.4s;
  }
  .navbar li:hover::after {
    width: 100%;
  }
.links a{
    font-weight: 400;
}
.links{
    display: flex;
    gap: 1.8rem;
}
.navbar .logo a{
    font-size: 1.4rem;
    font-weight:400;
}
.navbar .toggle_btn{
    color:  rgb(255, 255, 255);
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
}
.action_btn{

    padding: 0.6rem 1.1rem;
    background-color: rgba(255, 255, 255, 0.151);
    color: rgb(255, 250, 250);
    border: 1px solid;
    outline: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
  
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}
.action_btn:hover{
    
   
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid white;
    transition: 1s ease;

}



.dropdown_menu{
    position: absolute;
    right: 2rem;
    top:60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 18px;
    overflow: hidden;
    display: none;
    transition:  height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  

}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }


    .navbar .toggle_btn{
        display: block;
    }
    .navbar{
        justify-content: space-between;
    }
    .dropdown_menu{
        display: block;
    }
}
@media (max-width:576px){
    .dropdown_menu{
        left:2rem;
        width: unset;
    }

    header{
        background-image:url(/images/portrait\ 8\ copy\ 19.jpg)
    }
}

.container{
    max-width:1000px;
    margin:50px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
  }
  
  .card{
    position:relative;
    margin:20px 0;
    width:300px;
    height:400px;
    background: #fff;
    transform-style:preserve-3d;
    transform:perspective(2000px);
    transition:1s;
    box-shadow:inset 100px 0 50px rgba(0,0,0,0.5);
  }
  
  .card:hover{
    z-index:1111;
    transform:perspective(2000px) rotate(-10deg);
    box-shadow:inset 20px 0 50px rgba(0, 0, 0, 0.308);
  }
  
  .card .img-container{
    position:relative;
    width:100%;
    height:100%;
    border:1px solid rgb(255, 255, 255);
    box-sizing:border-box;
    transform-origin:left;
    z-index:1;
    transition:1s;
  }
  
  .card .img-container img{
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100%;
    object-fit:cover;
  }
  
  .card:hover .img-container{
    transform:rotateY(-135deg);
  }
  
  .card .card-details{
    position:absolute;
    left:0;
    top:0;
    box-sizing:border-box;
    padding:20px;
    color:#000;
  }
  
   .card .card-details h2{
    margin:0;
    padding:0.5em 0;
    text-transform:uppercase;
    font-size:2em;
    color:#ed363a;
  }
  
  .card .card-details p{
    margin:0;
    padding:0;
    line-height:25px;
    font-size:1.1em;
  }
  .image-container-gallery{
   
    width: 80%;
    margin: auto;
  }
  .image-container-gallery h1{
    font-size: 33px;
    text-align: center;
  }
  .image-container-gallery P{
    text-align: center;
    color: rgb(58, 57, 57);
  }
  .image-section{
    column-gap: 10px;
    columns: 3;
    width :80%;
    margin: auto;
    padding-top: 5rem;
   
   
    
  }
  .image-section img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 6px;
  }
  .grid-images {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
  }
